content/cv-schema.xsd

<?xml version="1.0"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://github.com/b-vennes/presume"
  xmlns="https://github.com/b-vennes/presume"
  elementFormDefault="qualified"
>

  <xs:element name="resume-content">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="header" />
        <xs:element
          name="experience"
          type="experience"
          minOccurs="0"
          maxOccurs="unbounded"
        />
        <xs:element
          name="education"
          type="education"
          minOccurs="0"
          maxOccurs="unbounded"
        />
        <xs:element
          name="certification"
          type="certification"
          minOccurs="0"
          maxOccurs="unbounded"
        />
        <xs:element
          name="skills"
          type="skill-group"
          minOccurs="0"
          maxOccurs="unbounded"
        />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="header">
    <xs:sequence>
      <xs:element
        name="summary"
        type="xs:string"
      />
    </xs:sequence>
    <xs:attribute
      name="name"
      type="xs:string"
    />
    <xs:attribute
      name="email"
      type="xs:string"
    />
    <xs:attribute
      name="github"
      type="xs:string"
    />
    <xs:attribute
      name="site"
      type="xs:string"
    />
  </xs:complexType>

  <xs:complexType
    name="experience"
  >
    <xs:sequence>
      <xs:element
        name="start-date"
        type="date"
      />
      <xs:element
        name="end-date"
        type="date"
        minOccurs="0"
        maxOccurs="1"
      />
      <xs:element
        name="detail"
        type="xs:string"
        minOccurs="0"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute
      name="business"
      type="xs:string"
    />
    <xs:attribute
      name="title"
      type="xs:string"
    />
  </xs:complexType>

  <xs:complexType name="education">
    <xs:sequence>
      <xs:element
        name="start-date"
        type="date"
      />
      <xs:element
        name="end-date"
        type="date"
        minOccurs="0"
        maxOccurs="1"
      />
      <xs:element
        name="detail"
        type="xs:string"
        minOccurs="0"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute
      name="school"
      type="xs:string"
    />
    <xs:attribute
      name="degree"
      type="xs:string"
    />
  </xs:complexType>

  <xs:complexType name="certification">
    <xs:attribute
      name="name"
      type="xs:string"
    />
  </xs:complexType>

  <xs:complexType name="skill-group">
    <xs:sequence>
      <xs:element
        name="skill"
        type="xs:string"
        minOccurs="1"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute
      name="group"
      type="xs:string"
    />
  </xs:complexType>

  <xs:complexType name="date">
    <xs:attribute
      name="year"
      type="xs:int"
    />
    <xs:attribute
      name="month"
      type="xs:int"
    />
  </xs:complexType>

</xs:schema>
